@charset "utf-8";

body
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-style:normal;
	background-color:#FFF;
	margin:0px;
}

div#fundo_principal{
/*	background-image:url(http://www.suif.com.br/config/imagens/fundo_body.jpg);*/
	background-color:#FFF;
	border-radius:7px;
	border:1px solid #999;
	width:950px;
	margin:auto;
}

.topo
{
	background-color:#003466;
	width:auto;
	height:65px;
	margin: 0px 0px 0px 0px;
}

div#topo{
	font-style:normal;	
}

div#topo_geral
{
	background-color:#003466;
	width:auto;
	height:65px;
	margin: 0px 0px 0px 0px;
/*
	background-image:url(http://www.suif.com.br/config/imagens/topo.jpg);
	width:auto;
	height:100px;
	margin: 0px 0px 0px 0px;
*/
}

div#topo_geral_2
{
	background-color:#003466;
	width:auto;
	height:65px;
	margin: 0px 0px 0px 0px;
/*
	background-image:url(http://www.suif.com.br/config/imagens/topo_2.jpg);
	width:auto;
	height:100px;
	margin: 0px 0px 0px 0px;
*/
}

div#topo_geral_app
{
	width:auto;
	height:auto;
	margin: 0px 0px 0px 0px;
}

div#ct_1 /* SERÁ INATIVO */
{
	width:1280px;
	height:auto;
	margin:auto;
	background-color:#FFF;
	border-radius:7px;
	border:1px solid #FFF;
}


.ct_1
{
	width:1280px;
	height:auto;
	margin:auto;
	background-color:#FFF;
	border-radius:7px;
	border:1px solid #FFF;
}


.ct_fixo
{
/*	width:1280px;*/
	width:auto;
	height:460px;
	margin:auto;
	background-color:#FFF;
	border:1px solid #FFF;
}

.ct_auto
{
	width:auto;
	height:auto;
	margin:auto;
	background-color:#FFF;
	border:1px solid #FFF;
}

.ct_relatorio
{
/*	width:1250px;*/
	width:auto;
	height:auto;
	margin:auto;
	border:0px solid #999;
}

.espacamento
{
	width:1240px;
	margin:auto;
}

.espacamento_5
{
	width:1240px;
	height:5px;
	margin:auto;
}

.espacamento_10
{
	width:1240px;
	height:10px;
	margin:auto;
}

.espacamento_15
{
	width:1240px;
	height:15px;
	margin:auto;
}

.espacamento_20
{
	width:1240px;
	height:20px;
	margin:auto;
}

.espacamento_25
{
	width:1240px;
	height:20px;
	margin:auto;
}

.espacamento_30
{
	width:1240px;
	height:30px;
	margin:auto;
}

.espacamento_40
{
	width:1240px;
	height:40px;
	margin:auto;
}


div#titulo_1
{
	font-size:22px;
	color:#090;
}

div#titulo_2
{
	font-size:14px;
	color:#003466;
}

div#titulo_3
{
	font-size:14px;
	color:#003466;
	font-style:italic;
}

div#titulo_4
{
	font-size:14px;
	color:#003466;
	font-style:italic;
}


.ct_topo_1
{
	width:1450px;
/*	width:auto;*/
	height:40px;
	border:0px solid #000;
	margin:auto;
}

.ct_topo_2
{
	width:1450px;
/*	width:auto;*/
	height:25px;
	border:0px solid #000;
	margin:auto;
}

.ct_titulo_1
{
	width:600px;
	height:30px;
	float:left;
	text-align:left;
	font-size:22px;
	font-style:normal;
	color:#009900;
	margin-left:0px;
}

.ct_titulo_2
{
	width:600px;
	height:30px;
	float:right;
	text-align:right;
	font-size:22px;
	font-style:normal;
	color:#009900;
	margin-right:0px;
}

.ct_subtitulo_left
{
	width:900px;
	height:20px;
	float:left;
	text-align:left;
	font-size:16px;
	font-style:normal;
	/*color:#003466;*/
	color:#666;
	margin-left:0px; 
}

.ct_subtitulo_right
{
	width:300px;
	height:20px;
	float:right;
	text-align:right;
	font-size:16px;
	font-style:normal;
	color:#666;
	margin-right:0px; 
}

.ct_subtitulo_left a
{
	color:#003466;
	text-decoration:none;
}

.ct_subtitulo_left a:hover
{
	color:#090;
	text-decoration:none;
}

.ct_subtitulo_left hover
{
	color:#090;
	text-decoration:none;
}


.total
{
	font-size:11px;
	border:1px solid #009900;
	border-radius:0px;
	background-color:#EEE;
	float:left;
}

.total_nome
{
	color:#009900;
	margin-left:8px;
	margin-top:6px;
	text-align:left;
	float:left;
	overflow:hidden;
}

.total_valor
{
	color:#444;
	margin-left:0px;
	margin-top:6px;
	text-align:left;
	float:left;
	overflow:hidden;
}

.contador
{
	height:28px;
	width:1270px;
	border:0px solid #999;
	border-radius:0px;
	margin:auto;
	background-color:transparent;
}

.contador_text
{
	height:26px;
	font-size:12px;
	color:#003466;
}

.contador_interno
{
	margin-top:6px;
}


.pqa
{
	border:1px solid #999;
	border-radius:0px;
	background-color:#EEE;
	margin:auto;
	height:36px;
	width:1250px;
}

.pqa_rotulo
{
	font-size:11px;
	color:#444;
	text-align:right;
	margin-top:11px;
	margin-right:5px;
	float:left;
	font-style:italic;
}

.pqa_input
{
	font-size:12px;
	color:#0000FF;
	height:16px;
	margin-top:8px;
	border:1px solid #999;
	border-radius:2px;
	background-color:#FFF;
}

.pqa_select
{
	font-size:11px;
	color:#0000FF;
	height:20px;
	margin-top:8px;
	border:1px solid #999;
	border-radius:2px;
	background-color:#FFF;
}


.form
{
	border:0px solid #999;
	border-radius:0px;
	background-color:transparent;
	margin:auto;
	width:1260px;
}

.form_rotulo
{
	font-size:12px;
	color:#444;
	float:left;
	font-style:italic;
}

.form_input
{
	font-size:14px;
	color:#0000FF;
	height:22px;
	border:1px solid #999;
	border-radius:3px;
	background-color:#FFF;
}

.form_select
{
	font-size:14px;
	color:#0000FF;
	height:26px;
	border:1px solid #999;
	border-radius:2px;
	background-color:#FFF;
}

.botao_modulo_on
{
	background:#EEE;
	border:0px solid #999;
	border-radius:0px 0px 5px 5px ;
	padding:4px 20px;
	color:#009900;
	display:inline-block;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	text-align:center;
	float:left;
	width:100px;
	height:26px;
}

.botao_modulo_on:hover
{
	background:#999;
	color:#FFF;
}


.botao_modulo_off
{
	background:#006699;
	border:0px solid #999;
	border-radius:0px 0px 5px 5px ;
	padding:4px 20px;
	color:#FFF;
	display:inline-block;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	text-align:center;
	float:left;
	width:100px;
	height:26px;
}

.botao_modulo_off:hover
{
	background:#999;
	color:#FFF;
}

.botao_menu_on
{
	background:#FCFCFC;
	border:0px solid #999;
	border-radius:5px;
	padding:6px 10px;
	color:#009900;
	display:inline-block;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
	text-align:center;
	float:left;
	width:160px;
	height:30px;
	box-shadow:1px 1px 2px #666;
}

.botao_menu_on:hover
{
	background:#FFF;
	color:#009900;
	box-shadow:2px 2px 2px #666;
}


.botao_menu_off
{
	background:#FCFCFC;
	border:0px solid #999;
	border-radius:5px;
	padding:6px 10px;
	color:#444;
	display:inline-block;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
	text-align:center;
	float:left;
	width:160px;
	height:30px;
}

.botao_menu_off:hover
{
	background:#FFF;
	color:#009900;
	box-shadow:2px 2px 2px #666;
}


.botao_1
{
	background:#FCFCFC;
	background:linear-gradient(#FCFCFC, #CCC);
	border:0px solid #999;
	border-radius:5px;
	padding:4px 20px;
	color:#444;
	display:inline-block;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	font-family:"Calibri", sans-serif;
	text-align:center;
	box-shadow:1px 1px 2px #666;
	float:left;
}

.botao_1:hover
{
	background:#FFF;
	background:linear-gradient(#FFF, #999);
	color:#009900;
	box-shadow:2px 2px 2px #666;
/*	box-shadow:2px 2px 4px #666;*/
}

.botao_2
{
	background:#FCFCFC;
	background:linear-gradient(#FCFCFC, #CCC);
	border:0px solid #999;
	border-radius:5px;
	padding:8px 15px;
	color:#444;
	display:inline-block;
	font-size:17px;
	font-style:normal;
	font-weight:normal;
	font-family:"Calibri", sans-serif;
	text-align:center;
	box-shadow:1px 1px 2px #666;
	float:left;
}

.botao_2:hover
{
	background:#FFF;
	background:linear-gradient(#FFF, #999);
	color:#009900;
	box-shadow:2px 2px 2px #666;
/*	box-shadow:2px 2px 4px #666;*/
}


.produto
{
	border:2px solid #003466;
	color:#003466;
}


.produto:hover
{
	border:2px solid #009900;
	color:#009900;
	background-color:#EEE;
}


.produto_2
{
	border:2px solid #999;
	color:#999;
}


.produto_2:hover
{
	border:2px solid #009900;
	color:#003466;
	background-color:#EEE;
}


.link a {
	color:#0000FF;
	text-decoration:none;
	font-style:normal;
}
	
.link a:hover {
	color:#009900;
	text-decoration:none;
	font-style:normal;
}

.link_2:hover
{
	color:#009900;
	text-decoration:none;
	font-style:italic;
}

.link_3 a {
	color:#EEE;
	text-decoration:none;
	font-style:normal;
}
	
.link_3 a:hover {
	color:#EEE;
	text-decoration:none;
	font-style:normal;
}

.link_4 a {
	color:#666;
	text-decoration:none;
	font-style:normal;
}
	
.link_4 a:hover {
	color:#090;
	text-decoration:none;
	font-style:normal;
}


.tabela_cabecalho
{
	font-size:10px;
	color:#FFF;
	margin:auto;
}

.tabela_cabecalho td
{
	height:24px;
	background-color:#006699;
	text-align:center;
}

.tabela_geral
{
	font-size:11px;
	border:0px solid #000;
	margin:auto;
}

.tabela_geral td
{
	height:24px;
}

.tabela_1 /* Azul */
{
	border:1px solid #FFF;
	background-color:#E0EEEE;
	color:#003466;
}

.tabela_1:hover
{
	background:#0C0;
	background:linear-gradient(#0C0, #006400);
	color:#FFF;
}

.tabela_2 /* Verde */
{
	border:1px solid #FFF;
	background-color:#E0EEEE;
	color:#006400;
}

.tabela_2:hover
{
	background:#0C0;
	background:linear-gradient(#0C0, #006400);
	color:#FFF;
}

.tabela_3 /* Cinza Escuro */
{
	border:1px solid #FFF;
	background-color:#E0EEEE;
	color:#444;
}

.tabela_3:hover
{
	background:#0C0;
	background:linear-gradient(#0C0, #006400);
	color:#FFF;
}

.tabela_4 /* Cinza Claro */
{
	border:1px solid #FFF;
	background-color:#E0EEEE;
	color:#C0C0C0;
}

.tabela_4:hover
{
	background:#0C0;
	background:linear-gradient(#0C0, #006400);
	color:#FFF;
}

.tabela_5 /* Vermelho */
{
	border:1px solid #FFF;
	background-color:#E0EEEE;
	color:#FF0000;
}

.tabela_5:hover
{
	background:#0C0;
	background:linear-gradient(#0C0, #006400);
	color:#FFF;
}

.tabela_6 /* Azul Claro */
{
	border:1px solid #FFF;
	background-color:#E0EEEE;
	color:#0000FF;
}

.tabela_6:hover
{
	background:#0C0;
	background:linear-gradient(#0C0, #006400);
	color:#FFF;
}

.transparente
{
/* de 0 a 1 */
opacity:0.3;
}

.preto_branco
{
-webkit-filter: grayscale(100%); /* Chrome */
filter: grayscale(100%); /* Firefox e outros */
filter: gray; /* IE */

opacity:0.4;
}


div#centro
{
	font-style:normal;
}

div#geral
{
	font-style:normal;
}

div#centro_geral
{
	width:1100px;
/*	width:950px; */
	height:auto;
	margin:auto;
	background-color:#FFF;
	border:1px solid #FFF;

/*	border-radius:7px;
	border:1px solid #999; */

}

div#centro_geral_login
{
	width:950px;
	height:auto;
	margin:auto;
	background-color:#FFF;
	border:1px solid #FFF;

/*	background-color:#FFF; 
	background-image:url(http://www.suif.com.br/config/imagens/index_login.jpg);
	border-radius:7px;
	border:1px solid #999; */
}

div#centro_geral_2
{
	width:950px;
	height:auto;
	background-color:#FFF;
	border-radius:7px;
	border:1px solid #999;
	float:left;
	margin:auto;
}

div#centro_geral_pdv
{
	width:950px;
	height:auto;
	margin:auto;
	background-color:#FFF;
	border-radius:7px;
	border:1px solid #999;
}

div#centro_2
{
	width:940px;
	height:auto;
	float:left;
}

div#centro_3
{
	font-style:normal;
	height:auto;
	width:900px;
	margin:auto;
	border:0px solid #F0F;
}

div#centro_4
{
	font-style:normal;
	height:auto;
	width:890px;
	margin:auto;
	border:1px solid #999;
	border-radius:10px;
}

div#titulo_form_1
{
	font-style:normal;
	color:#009900;
	font-size:22px;
	font-style:normal;
}

div#titulo_form_2
{
	font-style:normal;
	color:#003466;
	font-size:11px;
	font-style:italic;
}

div#titulo_form_3
{
	font-style:normal;
	color:#F00;
	font-size:11px;
	font-style:italic;
}

div#titulo_form_4
{
	font-style:normal;
	color:#666;
	font-size:11px;
	font-style:italic;
}

div#menu_geral
{
	background-color:#CFCFCF;
/*	width:1100px;*/
	width:auto;
	height:80px;
	margin:auto;
	border:0px solid #000;
}

.menu
{
	font-style:normal;
	background-color:#CFCFCF;
	width:auto;
	height:42px;
	margin: 0px 0px 0px 0px;
}

.submenu
{
	width:auto;
	height:23px;
	font-style:normal;
	font-size:12px;
	background-color:#CFCFCF;
	margin: 0px 0px 0px 0px;
}

div#menu
{
	font-style:normal;
}

#menu_atalho a {
	color:#444;
	text-decoration:none;
	font-size:11px;
	font-style:normal;
}
	
#menu_atalho a:hover {
	color:#090;
	text-decoration:none;
	font-size:11px;
	font-style:normal;
}

#menu_atalho_2 a {
	color:#FFF;
	text-decoration:none;
	font-size:10px;
	font-style:normal;
}
	
#menu_atalho_2 a:hover {
	color:#090;
	text-decoration:none;
	font-size:10px;
	font-style:normal;
}

#menu_atalho_3 a {
	color:#444;
	text-decoration:none;
	font-style:normal;
}
	
#menu_atalho_3 a:hover {
	color:#090;
	text-decoration:none;
	font-style:normal;
}

div#tabela_1
{
	float:left;
	height:25px;
	border:0px solid #000;
	color:#666;
	font-size:11px;
	text-align:right;
	font-style:normal;
}

div#tabela_2
{
	float:left;
	height:25px;
	border:0px solid #000;
	color:#666;
	font-size:11px;
	font-style:normal;
}

#tabela_3 tr
{
	border: 1px solid #00CCFF;
	background-color:#9CF;
	height:20px;
}

#tabela_3 tr:hover
{
	background:#0C0 2px 45% no-repeat;
	/*#00CC99 */
}

#tabela_4 tr
{
	border: 1px solid #00CCFF;
	background-color:#E0EEEE;
	height:20px;
/*	background-color:#9CF; 
	background-color:#E0EEEE;*/
}

#tabela_4 tr:hover
{
	background:#0C0;
/*	color:#FFFFFF;
	background:#009900 2px 45% no-repeat;
	background:#0C0 2px 45% no-repeat; */
	/*#00CC99 */
}

div#celula_1
{
	float:left;
	height:18px;
	border:0px solid #000;
	font-size:10px;
	font-style:normal;
}

div#espaco_1
{
	float:left;
	height:3px;
	border:0px solid #000;
	color:#666;
	font-size:11px;
	text-align:right;
	font-style:normal;
}

div#espaco_2
{
	float:left;
	height:10px;
	border:0px solid #000;
	color:#666;
	font-size:11px;
	text-align:right;
	font-style:normal;
}

.rdp_1
{
/*	width:1280px;*/
	width:auto;
	height:45px;
	margin:auto;
	background-color:transparent;
	border-radius:0px;
	border:0px solid #999;
	text-decoration:none;
	font-style:normal;
	font-size:10px;
/*	color:#003466;*/
	color:#999;
/*	color:#444;*/
}

.rdp_1 a
{
	text-decoration:none;
	font-style:normal;
	font-size:10px;
	color:#999;
}
	
.rdp_1 a:hover
{
	text-decoration:none;
	font-style:normal;
	font-size:10px;
	color:#999;
}

div#rodape_geral /* SERÁ INATIVADO */
{
/*	width:1280px;*/
	width:1100px;
	height:45px;
	margin:auto;
	background-color:transparent;
	border-radius:0px;
	border:0px solid #999;
	text-decoration:none;
	font-style:normal;
	font-size:10px;
	color:#003466;
}

div#rodape_geral a /* SERÁ INATIVADO */
{
	text-decoration:none;
	font-style:normal;
	font-size:10px;
	color:#003466;
}
	
div#rodape_geral a:hover /* SERÁ INATIVADO */
{
	text-decoration:none;
	font-style:normal;
	font-size:10px;
	color:#090;
}

div#rodape /* SERÁ INATIVADO */
{
/*	width:1280px;*/
	width:1100px;
	height:45px;
	margin:auto;
	background-color:transparent;
	border-radius:0px;
	border:0px solid #999;
	text-decoration:none;
	font-style:normal;
	font-size:10px;
	color:#003466;
}